.page-centered {
    text-align: center;
}

.welcome-message {
    color: hotpink;
}

.search-bar {

}

.stock-info {

}

.stock-last-traded-container {
    padding-top: 75px;
    text-align: center;
}

.stock-last-traded {
    font-style: italic;
}

.error-info {
    padding-top: 25px;
}